body {
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 3%); /*hsl(210, 46%, 95%)*/
}

.article {
  margin: 4rem 1rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 0 1.5rem 0;
}

.article__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.article__title {
  margin: 2.5rem 2.3rem 1.5rem 2.3rem;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.article__text {
  margin: 1rem 2.3rem 1.5rem 2.3rem;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.article__author {
  margin: 2rem 2.3rem 0 2.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__author-image {
  border-radius: 50%;
  width: 40px;
}

.article__author-name-date {
  flex-grow: 1;
  margin-left: 0.6rem;
}

.article__author-name {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin: 0;
}

.article__author-date {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
  margin: 0;
}

.article__author-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__share {
  display: none;
}

.article__share_active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: hsl(217, 19%, 35%);
  height: 2.5rem;
  padding: 0.5rem 2.3rem;
  border-radius: 0 0 10px 10px;
  margin-top: -50px;
}

.article__share-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  letter-spacing: 3px;
}

.article__author-icon_active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(214, 17%, 51%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__attribution {
  font-size: 0.7rem;
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .article {
    display: flex;
    padding: 0;
    margin: 0 1rem;
  }
  .article__image {
    width: 300px;
    border-radius: 10px 0 0 10px;
  }
  .article__author {
    margin: 2rem 2.3rem;
  }
  .article__author-icon_active {
    display: none;

  }
  .article__share_active {
    position: relative;
    left: 600px;
    bottom: 100px;
    width: 9rem;
    height: 2rem;
    border-radius: 10px;
  }
}
